.board {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 5%;
  text-align: center;
}

.create-board {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0 3% 0 ;
}

.board-name-input {
  height: 40px;
  width: 550px;
}

.card {
  margin: 10% 0 0 0;
}

.board-card {
  width: 20%;
  padding: 3%;
}

.all-board-cards {
  display:flex;
  flex-wrap: wrap;
}

.board-card-head {
  display: flex;
  justify-content: space-between;
}

.list-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 3% 0 3% 0;
  border: solid 2px lightblue;
  height: 50px;
  padding: 0 3% 0 3%;
}

.add-card {
  width: 100%;
  height: 50px;
}

.boards-validation-message, .lists-validation-message {
  font-size: 70px;
  margin: 10% 0 0 0;
  display: flex;
  justify-content: center;
  color: blue;
}

.cards-validation-message {
  font-size: 25px;
  margin: 10% 0 0 0;
  display: flex;
  justify-content: center;
  color: blue;
}




